* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.resumeContainer {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 15px;
}
.thisBlock{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
.badges{text-align: right;}
.myName{
    text-align: center;
    text-transform: uppercase;
}

.certImage{
    height: 80px;
}
.myInfo{
    display: flex;
    justify-content: space-evenly;
}
.myTable{
    display: flex;
    justify-content: space-between;
}
.thisData{
    text-decoration: underline;
    font-weight: bold;
    color: rgb(0, 140, 255);
    text-transform: uppercase;
}
.thisTag{
    letter-spacing: 2px;
}
p{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.italicData{font-style: italic;}
.thisBold{font-weight: bold;}
.boldData{
    font-style: normal;
    font-weight: bold;
}