<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utsav_Chaudhary_Resume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style type="text/css" media="print">
        @page {
            size: auto;   /* auto is the initial value */
            margin: 15px;  /* this affects the margin in the printer settings */
        }
    </style>
</head>
<body>
    <div class="resumeContainer">
        <div class="thisBlock badges">
            <img class="certImage" src="{{ url_for('static', filename='images/associate.png') }}" alt="AZ-204">
            <img class="certImage" src="{{ url_for('static', filename='images/expert.png') }}" alt="AZ-400">
        </div>
        <div class="thisBlock">
            <h1 class="myName">{{ data["basic"]["name"] }}</h1>
            <div class="myInfo">
                <div class="email">{{ data["basic"]["email"] }}</div>
                <div class="phoneNumber">{{ data["basic"]["phoneNumber"] }}</div>
                <div class="linkedIn"><a href='{{ data["basic"]["linkedIn"] }}'>LinkedIn: utsav-chaudhary-875096123</a> </div>
            </div>
        </div>
        <div class="thisBlock">
            <hr>
            <h3 class="thisTag">TECHNICAL SKILLS</h3>
            <hr>
            {% for skillCategory, skillData in data["technicalSkills"].items() %}
                <p><span class="thisBold">{{ skillCategory.replace("_"," ") }}:</span> {{ skillData }}</p>
            {% endfor %}
        </div>
        <!-- <div class="thisBlock">
            <hr>
            <h3 class="thisTag">PROFESSIONAL SUMMARY</h3>
            <hr>
            {% for experience in data["professionalSummary"] %}
                    <p>‣ {{ experience.replace("[","<strong>").replace("]","</strong>") | safe }}</p>
            {% endfor %}
        </div> -->
        <div class="thisBlock">
            <hr>
            <h3 class="thisTag">PROFESSIONAL EXPERIENCE</h3>
            <hr>
            {% for experience in data["professionalExperience"] %}
                <h4 class="thisTitle">{{ experience.name }} ({{ experience.location }}) | {{ experience.position }}</h4>
                <div class="myTable">
                    <p class="thisData">Responsibilities:</p>
                    <h4 class="italicData">{{ experience.duration }}</h4>
                </div>
                <hr>
                {% for eachResponsiblity in experience["responsiblity"] %}
                    <p>‣ {{ eachResponsiblity.replace("[","<strong>").replace("]","</strong>") | safe }}</p>
                {% endfor %}
                <hr>
            {% endfor %}
        </div>
        <div class="thisBlock">
            <hr>
            <h3 class="thisTag">EDUCATION</h3>
            <hr>
            <div class="myTable">
                <h4 class="thisTitle">{{ data["education"]["msuniversityName"] }}</h4>
                <h4 class="italicData">{{ data["education"]["msduration"] }}</h4>
            </div>
            <div class="myTable">
                <p class="italicData">{{ data["education"]["msfield"] }}</p>
                <p class="boldData">GPA: {{ data["education"]["msgpa"] }}</p>
            </div>
            <hr>
            <div class="myTable">
                <h4 class="thisTitle">{{ data["education"]["uguniversityName"] }}</h4>
                <h4 class="italicData">{{ data["education"]["ugduration"] }}</h4>
            </div>
            <div class="myTable">
                <p class="italicData">{{ data["education"]["ugfield"] }}</p>
                <p class="boldData">GPA: {{ data["education"]["uggpa"] }}</p>
            </div>
        </div>
        <hr>
    </div>
</body>
</html>
