*{
    background: #303030;
}
body {
    font-family: "Poppins", sans-serif;
    color: #ccc;
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
}

.innerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.thisBlock{
    border: 1px solid #ccc;
    padding: 10px;
}

.matchPercent {
    font-weight: bold;
    margin-bottom: 5px;
}

.fileName {
    font-weight: bold;
    margin-bottom: 5px;
    color: #ccc;
}

.skillBlock {
    margin-left: 20px;
}

.skillName {
    font-weight: bold;
}

.skillCount {
    margin-left: 10px;
}

.matchBlock {
    font-style: italic;
    margin-top: 5px;
}

.skillBlock{
    display: flex;
}

.pdfViewer{
    width: 100%;
}