<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorted Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Sorted Data</h1>
    <div class="container">
        <div class="innerContainer">
            {% for index, thisData in data.items() %}
                <div class="matchPercent">{{ index }}:</div>
                {% for file_name, file_data in thisData.items() %}
                    <div class="thisBlock">
                        {% if file_name != "MatchCount" %}
                            <div class="fileName">{{ file_name.split("\\")[-1] }}</div>
                            <div class="skillBlocks">
                                {% for skill, skill_data in file_data.items() %}
                                    <div class="skillBlock">
                                        <div class="skillName">{{ skill }}</div>
                                        <div class="skillCount">{{ skill_data["Count"] }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="matchBlock">Match Count: {{ thisData["MatchCount"] }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="innerContainer">
            <!-- Add PDF and docs Viewer -->
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.thisBlock').click(function() {
                var fileName = $(this).find('.fileName').text();
                console.log(fileName);
            });
        });
    </script>
</body>
</html>
